main.main-content{
    margin: 0 auto;
    width: 80vw;
    justify-content: space-between;
    gap: 30px
}

main .main-left{
    background-color: rgb(59, 59, 59);
    height: 500px;
    width: 40%;

}

main #map{
    width: 60%;
    height: 500px;
}